<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Portal | Dog Community </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin/images/favicon.ico' %}">
    <!-- Custom CSS -->
    <link href="{% static 'admin-dashboard/plugins/chartist/dist/chartist.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'admin-dashboard/css/style.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- Main wrapper - style you can find in pages.scss -->

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <!-- Topbar header - style you can find in pages.scss -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark" style="background-color: black; ">
                <div class="navbar-header">
                    <!-- Logo --> <a class="navbar-brand ms-4 ms-lg-0" href="{% url 'dashboard' %}">
                        <img style="margin-left: 40%;" width="60px" height="60px" 
                        src="{% static 'assets/img/logo.png' %}" alt="brand-logo" />
                    </a>
                    <!-- End Logo -->
                    <!-- toggle and nav items --><a
                        class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>

                <!-- End Logo -->

                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- Right side toggle and nav items -->
                    <ul class="navbar-nav me-auto mt-md-0 ">
                        
                        <!-- Search -->
                        
                        <p style="font-size:x-large; font-weight: bold; margin:auto; color: #FF6F0F;">Dog Community Admin Portal </p>
                        
                    </ul>  
                   
                    
                    <ul class="navbar-nav">
                        <!-- profile -->
                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark"
                                href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">  Hi, {{customAdmin}}</a>
                            <ul class="dropdown-menu show" aria-labelledby="navbarDropdown"></ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- End Topbar header -->


        <!-- Left Sidebar - style you can find in sidebar.scss  -->

        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'adminHome' %}" aria-expanded="false"><i class="me-3 fa fa-home"
                                    aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'add_dog' %}" aria-expanded="false">
                                <i class="me-3 fa fa-plus-square" aria-hidden="true"></i><span class="hide-menu">
                                    Add Dog For Adoption</span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'update_dog_html' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                                    aria-hidden="true"></i><span class="hide-menu">Update Dog After Adoption</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'add_breed_html' %}" aria-expanded="false"><i class="me-3 fa fa-paw"
                                    aria-hidden="true"></i><span class="hide-menu">Add Breed</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'add_event_html' %}" aria-expanded="false"><i class="me-3 fa fa-calendar"
                                    aria-hidden="true"></i><span class="hide-menu">Add Event</span></a></li>

                        <li class="text-center p-20 upgrade-btn">
                            <a href="{% url 'logout' %}" class="btn btn-danger text-white mt-4" target="_self">Log
                                Out</a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>

        <!-- End Left Sidebar - style you can find in sidebar.scss  -->


        <!-- Page wrapper  -->

        <div class="page-wrapper">

            <!-- Bread crumb and right sidebar toggle -->

            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="page-title mb-0 p-0">Dashboard</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'adminHome' %}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Admin Dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-6 col-4 align-self-center">
                        <div class="text-end upgrade-btn"> <a href="/"
                                class="btn btn-success d-none d-md-inline-block text-white" target="_blank">Go To User
                                Portal</a> </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <h2 class="text-info">Welcome to Admin portal of Dog Community</h2>
                <p class="text-info" >Total Dogs Registered : {{totalDogs}}</p>
                <p class="text-info">Total Breeds Registered: {{totalBreeds}}</p>
                <p class="text-info">Total Reports Registered: {{totalReports}}</p>
                <p class="text-info">Total Events Registered: {{totalEvents}}</p>
                <p class="text-info">Upcoming Events :</p>
                <ol>
                {% for event in events %}
            
                <li>Event Id : {{event.event_id}}</li>
                <ul>
                    <li class="text-info">Event Time: {{event.event_time}}</li>
                    <li class="text-info">Event location: {{event.event_location}}</li>
                    <li class="text-info">Event Description: {{event.event_description}}</li>
                    <li class="text-info">Event Capacity: {{event.event_capacity}}</li>
                    <li class="text-info">Event Image: <a target="_blank" href="/assets/img/{{event.event_image}}">{{event.event_image}}</a></li>
                </ul>
                {% endfor %}
            </ol>

                <p>Here you can <a href="{% url 'add_dog' %}"><i class="fa fa-plus-square fa-spin "></i> Add Dogs</a>, <a href="{% url 'update_dog_html' %}">
                    <i class="fa fa-table fa-spin "></i> Update Dogs</a> , <a href="{% url 'add_breed_html' %}">
                    <i class="fa fa-paw fa-spin "></i> Add Breeds</a> and schedule an
                    <a href="{% url 'add_event_html' %}"> <i class="fa fa-calendar fa-spin"></i> Event</a>
                     for meetup. </p>

                
            </div>

            <!-- footer -->

            <footer class="footer text-center">
                © Dog Community <a href="/aboutus">portal</a>
            </footer>

            <!-- End footer -->

        </div>

        <!-- End Page wrapper  -->

    </div>

    <!-- End Wrapper -->


    <!-- All Jquery -->

    <script src="{% static 'admin-dashboard/plugins/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'admin-dashboard/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'admin-dashboard/js/app-style-switcher.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'admin-dashboard/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'admin-dashboard/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'admin-dashboard/js/custom.js' %}"></script>
    <!--This page JavaScript -->
    <!--flot chart-->
    <script src="{% static 'admin-dashboard/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'admin-dashboard/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'admin-dashboard/js/pages/dashboards/dashboard1.js' %}"></script>
</body>

</html>