{% extends 'base.html' %}

{% block content %}
{% load static %}
<div id="report-dogs">
    <section id="hero" class="d-flex align-items-center position-relative">
        <img class="hero-img"  src="{%static "assets/img/unsplash_hero_aboutus.png" %}" alt="Image">
        <div class="carousel-caption">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 pt-5 mx-auto">
                        <h1 class="display-4 text-white mb-3 animated slideInDown">Help us find {% if 'missing' in request.path %}missing{% else %}stray{% endif %} dogs</h1>
                        <p class="fs-5 text-white-50 mb-5 animated slideInDown">Report to us and help those in need</p>
                        <div>
                            <a href="{% if 'missing' in request.path %}/report-dogs/missing/form{% else %}/report-dogs/stray/form{% endif %}" class="btn btn-primary py-2 px-3 animated slideInDown">
                                Report a {% if 'missing' in request.path %}missing{% else %}stray{% endif %} dog
                                <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="position-absolute bottom-0 mb-4 mx-auto" >
                                <p class="fs-5 text-white-50 text-center animated slideInDown">Slide down to know more</p>
                                <div id="scrollToMain" class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                    <i class="fa fa-arrow-down"></i>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid bg-light py-2 py-xl-3" id="main-section">
        <section id="report-dogs-top" class="container py-2">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Reported Dogs</div>
                <h1 class="display-6 mb-5">{% if 'missing' in request.path %}Have you seen me?{% else %}Stray dogs we saved</h1>
            </div>
            {% csrf_token %}            
        </section>
        <section id="report-dogs-list" class="container">
            <div class="row">
                {% for dog in filtered_dogs %}
                <div class="col-md-3 col-sm-6">
                    <div class="card card-block">
                        <h4 class="card-title d-flex justify-content-end mt-2"><i class="fa fa-paw" aria-hidden="true"></i></h4>
                        <h5 class="card-title text-center mt-3 mb-3">{{dog.dog_name}}</h5>
                        <img class="card-img" src="{%static "" %}{{dog.dog_image}}" alt="{{dog.dog_name}}"/>
                            
                            
                        <p class="card-text text-center">Age: {{dog.dog_age}}</p>
                        <p class="card-text text-center">Color: {{dog.dog_color}}</p>
                        <div class="d-flex justify-content-center mt-5">
                            <button onclick="$(this).adoptButton();" data-dog-id={{dog.dog_id}} data-url={%url 'report_dogs'%} id="report-button" class="btn btn-primary py-2 px-3 animated slideInDown">
                                Adopt
                                <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </button>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
                {% comment %} <div class="modal fade" id="report-form" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form class="report-form" method="post" action="{% url 'report_dogs'%}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" >Report Dogs Details</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <datalist id="dog_list" >
                                        {% for dog in report_dogs_dog_list %}
                                            <option value="{{dog.dog_name}}"/>
                                        {% endfor %}
                                    </datalist>
                                    {% for field in report_dogs_dog_form%}
                                        {{field}}
                                    {% endfor%}
                                    {% for field in report_dogs_user_form%}
                                        {{field}}
                                    {% endfor%}
                                    <input type="hidden" name="action-adopt" value="action-adopt"/>
                                    <div class="mb-3"><input list="dog_list" class="form-control text-center" style="width: 160px;" type="text" id="dog_name" name="dog_name" placeholder="Enter dog name"/></div>
                                    <div class="mb-3"><input class="form-control" type="text" id="name" name="name" placeholder="Your Name" style="margin-top: 7px;padding-bottom: 9px;margin-bottom: 16px;"></div>
                                    <div class="mb-3"><input class="form-control" type="tel" name="email" placeholder="Email Address"></div>
                                    <div class="mb-3"><input class="form-control" type="tel" name="phn" placeholder="Contact Number"></div>
                                    <div class="mb-3"><input class="form-control" type="file"></div> 
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button class="btn btn-primary d-block w-50" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div> {% endcomment %}
            </div>
        </section>
</div>
{% endblock %}