{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container-container-fluid position-relative" id="report-dogs-form" >
    <div class="row d-flex justify-content-center report-dogs-form">
        {% if 'missing' in request.path %}
        <div class="col-md-6 col-lg-6 col-xl-5 col-xxl-6">
            <div class="mb-5 d-flex justify-content-center">
                <div class="p-sm-4 report-card">
                    <h3 class="text-center mb-4 pb-2 report-tag">Missing Dog Information</h3>
                    <img class="missing-dog-image" src="{%static "assets/img/richard-brutyo-Sg3XwuEpybU-unsplash-removebg-preview.png" %}" alt="Image">
                    <form method="post" enctype="multipart/form-data">     
                        {% csrf_token %} 
                        <select class="form-select form-control mb-3" autoComplete="on" aria-label="Default select example" id="breed-report" name="breed" placeholder="Breed Name">
                            <option selected value="-1">Select the breed</option>
                            {% for breed in all_breeds %}
                            <option value="{{breed.breed_id}}">{{breed.breed_name}}</option>
                            {% endfor %}
                            <option value=-2 >Other</option>
                        </select>
                        <div class="mb-3"><input class="form-control" type="hidden" id="breed_other" name="breed_other" placeholder="Enter breed" style="margin-top: 7px;padding-bottom: 9px;margin-bottom: 16px;"></div>
                        <div class="mb-3"><input class="form-control" type="text" id="last_seen" name="last_seen" placeholder="Last seen" style="margin-top: 7px;padding-bottom: 9px;margin-bottom: 16px;"></div>
                        <div class="mb-3"><textarea class="form-control" id="Description" name="Description" rows="6" placeholder="Description"></textarea></div>
                        <div class="mb-3"><input class="form-control" type="tel" name="phn" placeholder="Contact info."></div>
                        <div class="mb-3"><input class="form-control" type="file"></div>
                        <div><button class="btn btn-primary d-block w-100" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'stray' in request.path%}
        <div class="col-md-6 col-lg-6 col-xl-5 col-xxl-6">
            <div class="mb-5 d-flex justify-content-center">
                <div class="p-sm-4 report-card">
                    <h3 class="text-center mb-4 pb-2 report-tag">Stray Dog Information</h3>
                    <img class="stray-dog-image" src="{%static "assets/img/stray-dogs.png" %}" alt="Image">
                    <form method="post" enctype="multipart/form-data">     
                        {% csrf_token %} 
                        <select class="form-select form-control mb-3" autoComplete="on" aria-label="Default select example" id="breed-report" name="breed" placeholder="Breed Name">
                            <option selected value="-1">Select the breed</option>
                            {% for breed in all_breeds %}
                            <option value="{{breed.breed_id}}">{{breed.breed_name}}</option>
                            {% endfor %}
                            <option value=-2 >Other</option>
                        </select>
                        <div class="mb-3"><input class="form-control" type="hidden" id="breed_other" name="breed_other" placeholder="Enter breed" style="margin-top: 7px;padding-bottom: 9px;margin-bottom: 16px;"></div>
                        <div class="mb-3"><input class="form-control" type="text" id="last_seen" name="last_seen" placeholder="Last Known Location" style="margin-top: 7px;padding-bottom: 9px;margin-bottom: 16px;"></div>
                        <div class="mb-3"><textarea class="form-control" id="Description" name="Description" rows="6" placeholder="Description"></textarea></div>
                        <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Your Name"></div>
                        <div class="mb-3"><input class="form-control" type="address" name="phn" placeholder="Your Address"></div>
                        <div class="mb-3"><input class="form-control" type="tel" name="phn" placeholder="Your Contact Number."></div>
                        <div><button class="btn btn-primary d-block w-100" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
        {% endif%}
    </div>
</div>
{% endblock %}
